header {
    background-color: blue;
    color: #000;
}

figure {
    background-color: black;
}

img {
    border: 8px solid gold;
 
}

figcaption {
    color: #fff;
    text-align: center;
    font-size: xx-large;

}

main {
    background-color: crimson;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}