/* to do: find cool star wars cursor, custom make star wars logos */

header {
    background-image: linear-gradient(to bottom,#71a8ba, #EDC9AF, salmon, #000);
    color: #111;
    font-size: xx-large;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-shadow: 3px 3px 3px #FFD700;
    font-style: oblique;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}


#double_moons {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
    margin-top: 20px;
}

img {
    max-width: 280px;
}

figure {
    background-color: #FFD700;
}

figure img {
    border: 18px solid #EDC9AF;
 
}



figcaption {
    color: #111;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-family: 'Anton', sans-serif;

}

main {
    background-color: #000;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #EDC9AF, #000);
    color: #010;
    font-family: monospace;
}