html {
    scroll-behavior: smooth;
}
@media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 980px) {
    html {
      font-size: 58%;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

img {
    max-height: 250px;
    max-width: 250px;
}

body {
    background-color: #111111;
}

#navbar {
    width: 100%;
    position: fixed;
    background-color: #ee6d03;
    
}


.nav-list {
    display: flex;
    flex: space-between;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 1rem;
    font-family: Gemunu Libre;

}

.nav-list a {
    display: block;
    text-decoration: none;
    color: #111111;;
    padding: 1.5rem;
    font-size: xx-large;
}

.nav-list a:hover {
    background-color: #ff5c02;

}


a { 
    color:#ee6d03;
}

#welcome-section {
    /*background: linear-gradient(to bottom, #000000, 50%, #3d3c3c);*/
    background-color: #3d3c3c;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Gemunu Libre;
}

#welcome-section h3 {
    color:#ee6d03;
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

#projects h3 {
    color: #cccccc;
    font-size: 3rem;
    font-family: Gemunu Libre, Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #ee6d03;
}
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.project-tile {
    margin: 2rem;
}

#projects img {
    border-radius: 1rem;
    margin-bottom: .5rem;
}

#projects img:hover {
        transform: scale(1.05);
}

#projects figcaption {
    text-decoration: none;
    text-align: center;
}

#projects figcaption:hover {
    color: #ffffff;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center; /* align y axis */
    align-items: center;    /* align x axis */
    height: 50vh;
    background-color: #3d3c3c;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Gemunu Libre;
}


#contacts div {
    display: flex;
    justify-content: center;
}

#contacts div a {
    padding: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-shadow: .5px .5px .5px #000000;
    transition: transform 0.1s ease-in;
}

#contacts div a:hover {
    background-color: #444444;
    transform: translatey(-4px);

}
#contacts h1, h4 {
    color: #cccccc;
    padding-bottom: 1rem;
}


footer h4{
    text-align: center;
    padding: 1.5rem;
    font-size: medium;
    justify-content: center;
    font-family: monospace;

}