/* color scheme: #2F312C, #A83212, #C5CBB0 */
* {
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Qahiri', sans-serif;
    font-size: 650%;
    text-align: center;
    color: #C5CBB0;
    background-color: #A83212;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
    filter: drop-shadow(4px 10px 4px #A83212);
}

#xWing, #tieFighter {
    max-height: 70%;
    max-width: 70%;
    filter: drop-shadow(4px 10px 4px #2F312C)
}

.mainContainer {
    display: flex;
    color: #A83212;
}

.nav {
    margin-top: .3em;
    padding: 1em 1em 1em 2em;
    background-color:#D6DCC1;
    opacity: 0.7;
}

.navList {
    font-family: monospace;
    font-style: italic;
}

li {
    color: #A83212;
}

li:hover {
    color: #1E201B;
    transform:scale(1.1);
}

.shipViewer img {
    border: 7px solid #A83212;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    background-image: url("starFieldBackground.jpg");
}
.box {
    background-color: #1E201B;
    font-size: xx-large;
    color: #b94323;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    text-align: center;
}

.shipName {
    font-size: xx-large;
    font-family: monospace;
    color: #C5CBB0;
}

footer {
    font-family: monospace;
    color: #C5CBB0;
    background-color: #A83212;
    text-align: center;
}