* {
    margin: 0;
    box-sizing: order-box;
}

header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: #000;
    padding: 2em 2em .5em 2em;
}

.heading {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    font-family: 'Warnes', cursive; 
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #FFD700;

}

header img {
    filter: drop-shadow(4px -10px 4px #ffd700);
}

button {
    font-size: xx-large;
    background-color:#FFD700;
    border-radius: 1.5rem;
    font-family: 'Warnes';
    color:black;
}

button:hover {
    background-color: black;
    transform: scale(1.1);
    color: #FFD700;
/* make button expand */
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: #111;
    align-content: center;
    justify-content: center;
}

p {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #000;
    color: #FFD700;
    font-size: xx-large;
    font-family: monospace;
}

figure {
    margin: 10px;

    
}

figure img {
    width: 180px;
    border: 5px solid #FFD700;
    border-radius: 1.5rem;
}

figure img:hover {
    transform: scale(1.1);
}

figure img:active {
    transform: scale(2);
}

figcaption {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    text-align: center;
    color: black;
    background-color: #FFD700;
    font-family: monospace;
    margin-top: auto;
}

.portLink {
    color: gray;
}